﻿@*@model Work.WebUI.Models.VacancyDetailsViewModel*@
@model Work.Entities.Vacancy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vacancy Create</legend>

        @Html.HiddenFor(model => model.Id) 

       @* @Html.LabelFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)*@

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployerId)
            @Html.ValidationMessageFor(model => model.EmployerId)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EconomySectorId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EconomySectorId)
            @Html.ValidationMessageFor(model => model.EconomySectorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeOfJobId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeOfJobId)
            @Html.ValidationMessageFor(model => model.TypeOfJobId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YearsOfExperience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearsOfExperience)
            @Html.ValidationMessageFor(model => model.YearsOfExperience)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeOfEducationId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeOfEducationId)
            @Html.ValidationMessageFor(model => model.TypeOfEducationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description) 
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div>
            <form method="post" action="/vacancy/save"> 
                <input type="submit" name="editSave" value="Save" class="btn btn-default"/>
            </form>

            <form method="post" action="/vacancy/cancel"> 
                <input type="submit" name="editCancel" value="Cancel" class="btn btn-default"/>
            </form>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
