﻿@model Work.WebUI.Models.VacancyDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>VacancyDetailsViewModel</legend>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.Id) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.Id)
    </div>


    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.EmployerName) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.EmployerName)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.Position) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.Position)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.City) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.EconomySectorName) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.EconomySectorName)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.TypeOfJobId) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.TypeOfJobId)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.YearsOfExperience) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.YearsOfExperience)
    </div>

     <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.TypeOfEducationId) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.TypeOfEducationId)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.Salary) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.Salary)
    </div>

    <div class="display-label">
         <dt>@Html.DisplayNameFor(model => model.Description) </dt>
    </div>
    <div class="display-field bg-info">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    
