﻿@*@model IEnumerable<Work.Repositories.EFVacancyRepository>*@
@model IEnumerable<Work.Entities.Vacancy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>EmployerId</th>
        <th>Position</th>
        <th>City</th>
        <th>EconomySectorId</th>
        <th>TypeOfJobId</th>
        <th>YearsOfExperience</th>
        <th>TypeOfEducationId</th>
        <th>Salary</th>
        <th>Description</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.EmployerId
        </td>
        <td>
            @item.Position
        </td>
        <td>
            @item.City
        </td>
        <td>
            @item.EconomySectorId
        </td>
        <td>
            @item.TypeOfJobId
        </td>
        <td>
            @item.YearsOfExperience
        </td>
        <td>
            @item.TypeOfEducationId
        </td>
        <td>
            @item.Salary
        </td>
        <td>
            @item.Description
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
