﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
   @* <link href="~/Content/ErrorStyles.css" rel="stylesheet" />*@

    <title>@ViewBag.Title</title>
    <style>
        .navbar-right { float: right !important; margin-right: 15px; margin-left: 15px; }
    </style>
</head>
<body>
    @*<div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">SPORTS STORE</span>
            <div class="visible-xs">SPORTS</div>
            <div class="visible-xs">STORE</div>
        </a>
        @Html.Action("Summary", "Cart")
    </div>*@

    @*<div class="visible-xs">
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>*@

    <@*div class="row panel">
        <div class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @RenderBody()
        </div>
    </div>*@

    @RenderBody()

</body>
</html>
