﻿@model Work.Entities.Vacancy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vacancy</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployerId, "Employer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployerId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmployerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EconomySectorId, "EconomySector")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EconomySectorId", String.Empty)
            @Html.ValidationMessageFor(model => model.EconomySectorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YearsOfExperience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearsOfExperience)
            @Html.ValidationMessageFor(model => model.YearsOfExperience)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
