﻿@model Work.Entities.Vacancy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vacancy</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Employer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Position)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EconomySector.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EconomySector.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearsOfExperience)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearsOfExperience)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
